.cardContainer{
display: flex;
background-color: dodgerblue;
padding: 2rem;
width: 30rem;
margin-bottom: 2rem;
}

.cardHeader{
    align-items: center;
    margin-right: 1rem;
    padding: 1rem;
    background-color: rgb(255, 200, 47);
}

.cardContents > p{
font-size: 1.5rem;
color: white;
}


.cardPicture{
    height: 8rem;
    border-radius: 5rem;
    
}