*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /* // defines what 1 rem is  */
  font-size: 62.5%;
}

a{
  text-decoration: none;
}

.mainContainer{
  display: flex;
  background-color: rgb(236, 233, 233);
}